<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="static\my_home_page.css" rel="stylesheet" /> 
</head>
<body>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='my_home_page.html'>City Bug Reports</a></li>
          <li style="float: right; "><a href='login.html'>Login</a></li>
          <li style="float: right;"><a href='templates\account.html'>Sign up</a></li>
        </ul>
      </nav>

<div class="welcome-section" style="margin-left: 50px;">
    <h2 style="text-align:left;color:#171717;">Built for citizens, by citizens.</h2>
    <h3 style="text-align:left;color:#171717;font-size:17px;">A free-forever platform to give your neighbours a heads-up when they need one most.</h3>
    <div class="signup-container" style="text-align: left;">
        <input type="text" class="signup-input" placeholder="Enter your email" style="margin-right: -50px;"style="margin-top: 10px;" />
        <button class="testbutton" style="margin-top: -10px;">Get Started</button>
    </div>
</div>
<div >
    <div class="stacked-images">
        <img src="imgs\Picture3.jpg" alt="Image 1"style="margin-left: 50px;">
        <img src="imgs\Picture3.jpg" alt="Image 2" style="margin-left: 750px;">
        <img src="imgs\Picture3.jpg" alt="Image 3" style="margin-left: 50px;">
    </div>
    </div>

    
</div>
  
</body>
</html>
